<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Lists</mat-toolbar>
    <mat-nav-list>
      @for (item of lists.data();track item._id) {
        @if (item.isMain) {
          <a mat-list-item routerLink="">{{ item.title }}</a>
        } @else {
          <a mat-list-item [routerLink]="item._id">{{ item.title }}</a>
        }
      }
      <a mat-list-item [routerLink]="['done-tasks']">Done Tasks</a>
      <a mat-list-item role="button" [matTooltip]="'Add new list'" (click)="openDialogue()">
        <mat-icon fontIcon="add"/>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span>Tapsell To-do list</span>
    </mat-toolbar>
    <main>
      <router-outlet/>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
