<form [formGroup]="form" (ngSubmit)="submitForm()">
  <mat-dialog-content>
    <h2>{{ task.data()._id ? 'Edit Task' : 'Create New Task' }}</h2>
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="title">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="date" [matDatepicker]="datePicker" (focus)="datePicker.open()"
             (click)="datePicker.open()">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="datePicker"></mat-datepicker-toggle>
      <mat-datepicker #datePicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput type="text" formControlName="description"></textarea>
    </mat-form-field>
    <mat-checkbox formControlName="done" color="primary">Done</mat-checkbox>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-flat-button type="submit" color="primary" [disabled]="task.isFetching()">Save</button>
    <button mat-flat-button type="button" mat-dialog-close [disabled]="task.isFetching()">Close</button>
  </mat-dialog-actions>
</form>
