<mat-card [class.done]="task.done" [appearance]="task.done ? 'outlined' : 'raised'">
  <mat-card-content>
    <div class="task-header">
      <h2>
        @if (task.done) {
          <mat-icon color="primary" fontIcon="task_alt"/>
        }
        <span>{{ task.title }}</span>
      </h2>
      <span>{{ task.date | date }}</span>
    </div>
    <p>{{ task.description }}</p>
  </mat-card-content>
  <mat-card-actions [align]="'end'">
    <button mat-icon-button
            color="primary"
            [matTooltip]="task.done ? 'Set task as Not done' : 'Set task as Done'"
            [disabled]="isLoading()"
            (click)="toggleDoneTask()">
      <mat-icon [fontIcon]="task.done ? 'close' : 'done'"/>
    </button>
    @if (!isDaily()) {
      <button mat-icon-button
              color="accent"
              matTooltip="Move task to 'Daily Tasks'"
              [disabled]="isLoading()"
              (click)="moveToDaily()">
        <mat-icon fontIcon="today"/>
      </button>
    }
    <button mat-icon-button
            matTooltip="Edit task"
            [disabled]="isLoading()"
            (click)="editTask()">
      <mat-icon fontIcon="edit"/>
    </button>
    <button mat-icon-button
            color="warn"
            matTooltip="Delete task"
            appDeleteConfirmation
            (confirmed)="deleteTask()"
            [disabled]="isLoading()">
      <mat-icon fontIcon="delete"/>
    </button>
  </mat-card-actions>
</mat-card>
