.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

mat-card {
  margin-bottom: var(--space-1);
}

.done {
  border: 1px solid #673ab7;
}

h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-1);
}
