<mat-card>
  <mat-card-content>
    <div class="task-header">
      <h2>{{ task.title }}</h2>
      <span>{{ task.date }}</span>
    </div>
    <p>{{ task.description }}</p>
  </mat-card-content>
  <mat-card-actions [align]="'end'">
    <button mat-icon-button color="primary" matTooltip="Set task as Done">
      <mat-icon fontIcon="done"/>
    </button>
    <button mat-icon-button color="accent" matTooltip="Move task to 'Daily Tasks'">
      <mat-icon fontIcon="today"/>
    </button>
    <button mat-icon-button color="warn" matTooltip="Delete task">
      <mat-icon fontIcon="delete"/>
    </button>
  </mat-card-actions>
</mat-card>
