/* You can add global styles to this file, and also import other style files */

:root {
  --space-0: 0;
  --space-1: 1rem;
  --space-2: 2rem;
  --space-3: 3rem;
  --space-4: 4rem;
  --space-full: 100%;
}

html, body {
  height: var(--space-full);
}

body {
  margin: var(--space-0);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  position: relative;
}

mat-form-field {
  width: var(--space-full);
}

.header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-actions {
  display: table-cell;
}

.add-task-button {
  position: fixed !important;
  bottom: var(--space-2);
  right: var(--space-2);
}
